.whole{
    display: inline-flex;
    position: absolute;
    top: 20%;
}
.sideone{
    width: 35%;
    margin-left: 2%;
    left: 5%;
   
    
}
.pp:hover {
    background-color: rgb(10, 134, 165);
    width: fit-content;
    color: tomato;
  }

#centrre{
   margin-left: 2%;
    right: 2%;
    width: 90%;
    
}